# Gradle
.gradle/
**/build/

# Local configuration
local.properties

# IntelliJ / Android Studio
*.iml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# OS
.DS_Store

# Android
**/captures/
.externalNativeBuild/
.cxx/

# Kotlin
.kotlin/

# Gradle daemon
**/gradle/gradle-daemon-jvm.properties

# Android Studio / IntelliJ
.idea/
*.iml
